<div class="modals">
  <div id="modal-choose-app" class="modal dialog">
    <div class="modal-background"></div>
    <div class="modal-content">
      <i class="material-icons md-icon modal-close right">close</i>
      <h2>Choose your app</h2>
      <button type="button">iOS</button>
      <button type="button">Android</button>
      <button type="button">Cordova Ionic PhoneGap</button>
      <button type="button">React Native</button>
    </div>
  </div>
  <div id="modal-image" class="modal dialog image">
    <div class="modal-background"></div>
    <div class="modal-content">
      <i class="material-icons md-icon modal-close right">close</i>
      <h2>Image</h2>
      <a id="modal-image-link" href="#">
        <img id="modal-image-img">
      </a>
    </div>
  </div>
  <div id="modal-code" class="modal dialog code">
    <div class="modal-background"></div>
    <div class="modal-content">
      <i class="material-icons md-icon modal-close right">close</i>
      <h2>Select your platform</h2>
      <div class="flex">
        <button id="modal-code-ios">iOS</button>
        <button id="modal-code-android">Android</button>
      </div>
      <div class="flex">
        <button id="modal-code-cordova">Cordova PhoneGap Ionic</button>
        <button id="modal-code-react">React Native</button>
      </div>
      <div class="flex">
        <button id="modal-code-mparticle-android">mParticle Android</button>
        <button id="modal-code-mparticle-ios">mParticle iOS</button>
      </div>
      <div class="flex">
        <button id="modal-code-titanium">Titanium</button>
        <button id="modal-code-unity">Unity</button>
      </div>
      <div class="flex">
        <button id="modal-code-xamarin">Xamarin</button>
        <button id="modal-code-adobe" class="vanish">Adobe</button>
      </div>
    </div>
  </div>
</div>
