{% import "partials/language.html" as lang with context %}

<div class="md-search" data-md-component="search" role="dialog">
  <label class="md-search__overlay" for="search"></label>
  <div class="branch-header-button" role="search">
    {% if config.extra.sources.algolia %}
      <i class="branch-header-search md-icon material-icons">search</i>
      <p class="branch-header-label">Search</p>
    {% else %}
      <label class="md-icon md-search__icon" for="search"></label>
      <button type="reset" class="md-icon md-search__icon" data-md-component="reset" tabindex="-1">
        &#xE5CD;
      </button>
    {% endif %}
  </div>
</div>
